services:
  rr-whatsapp-api:
    restart: unless-stopped
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    ports:
      - "${WEB_PORT:-3001}:3001"
      - "${API_PORT:-8070}:8070"
    volumes:
      - rr-session:/opt/RR-WhatsApp-API/session

volumes:
  rr-session:
